/* Styles file */
 * {
    background-color: rgb(88, 182, 182);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px; 
} 

html {
}

body {
    font-family: 'Times New Roman', Times, serif;
    border-color: black;
    border-style: solid;
    background-color: white;
    display: flex;
    flex: 1 1 auto;
}
h1 {
    background-color: rgb(88, 182, 182);
    text-align: center;
}

h2 {
    text-align: center;
    list-style: none;
    margin-bottom: 1%;    
}

#Bio
{
    background-color: rgb(88, 182, 182);
    color: rgb(0, 0, 0);
    text-align: center;
}

.mainimage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: black;
}

ul li {
    list-style: none;
    margin-bottom: 1%;
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

ol li {
    list-style: none;
    margin-bottom: 1%;
}

#Home {
    background-color: rgb(242, 250, 228);
    font-weight: 0;
    padding: 15px;
    border: 1px solid black;
}

/* .Description {

} */

#Homelist {
    text-align: center;
    background-color: rgb(114, 199, 199);
    padding: 10px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
